@use "variables" as *;

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: $twilightBlue;
    padding: 7px, 12px;
    border: 0;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    color: $white;
    line-height: 32px;
    letter-spacing: 1px;
    font-size: 2rem;
}