@use "variables" as *;

.wrapper {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: $twilightBlue;
    padding: 7px 10px;
    border: 2px $twilightBlue solid;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    color: $white;
    line-height: 32px;
    letter-spacing: 1px;
    font-size: 2rem;
    &:hover {
        background-color: $white;
        color: $twilightBlue;
    }
    &:focus {
        background-color: $white;
        color: $twilightBlue;
    }
}

.fa-solid {
    background-color: $greenishCyan;
    color: white;
    border: 1px solid $greenishCyan;
    font-size: 2.5rem;
}