@use "variables" as *;

// home page
.content {
    margin-bottom: 150px;
    .guyana {
        display: flex;
        justify-content: space-between;
        margin-bottom: 150px;
        .guyanaBlurb {
            width: calc((100%*.66) - 30px);
        }
        .guyanaImage {
            width: calc(100%*.34);
            max-width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-end;
            position: relative;
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
            }
            .borderLines {
                border-left: 2.5rem solid $greenishCyan;
                border-bottom: 2.5rem solid $greenishCyan;
                width: 95%;
                height: 95%;
                position: absolute;
                bottom: -25px;
                left: -20px;
                z-index: -1;
            }
        }
    }
 }

.background {
    background-color: $lightBlue;
    width: 100%;
    padding: 50px 0;
    display: flex;
    .imageGallery {
        display: flex;
        justify-content: space-between;
        .beachHouseGallery {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            position: relative;
            width: 100%;
            transition: all 0.8s;
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
            a p {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 40%;
                text-align: center; 
                font-size: 3rem;
                flex-wrap: wrap;
                display: none;
                font-family: $headingFont;
                color: $grey;
            }
            &:hover {
                transform: scale(1.05);
                & img {
                opacity: 0.3;
                }
                & p {
                    display: inline;
                    opacity: 1;
                }
            }
        }
    }
}

.pageLinks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
        .beachHouses, .community, .blog,
        .contact {
            width: calc(100%/2);
            display: flex;
            justify-content: space-between;
            position: relative;
            .fa-solid {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                position: absolute;
                left: 5px;
                top: 50px;
            }
            .linkBlurb {
                width: 85%;
            }
            h5 {
                color: $spruce;
            }
            p {
                margin: 0;
            }
        }
    }

.schedule {
    display: flex;
    justify-content: space-between;
    .newLocations {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        position: relative;
        width: calc(100%/2);
        height: 100%;
        .newLocationsBlurb {
            width: 80%;
            text-align: right;
        }
        .newLocationsImage {
            width: 100%;
            height: auto;
            position: absolute;
            top: -80px;
            left: 0px;
            img {
                width: 100%;
                height: 100%;
            }
            .borderLines2 {
                border-bottom: 2rem solid $greenishCyan;
                border-right: 2rem solid $greenishCyan;
                position: absolute;
            }
        }
    }
    .plan {
        width: calc((100%/2) - 25px);
        .planBlurb {
            width: 80%;
        }
    }
    h4 {
        color: $twilightBlue;
    }
}

.bottomBackground {
    background-image: url(../../assets/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0, 0;
    width: 100%;
    height: 65vh;
    max-width: 100%;
}

.freeTrip {
    text-align: center;
    padding-top: 150px;
    h4 {
        color: $spruce;
        margin: 0;
    }
    button {
        margin: 15px 0px;
    }
}

// contact page

.contactSection {
    display: flex;
    justify-content: space-between;
    position: relative;
    .contactForm {
        position: relative;
        top: -375px;
        left: -150px;
        h2 {
            color: $white;
            margin: 40px;
        }
    }
    .contactInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        #contactEmail {
            font-weight: bold;
            font-size: 3rem;
            &:hover {
                color: $twilightBlue;
                border-bottom: 2px solid $twilightBlue;
            }
        }
        p:not(:first-child) {
            margin: 5px 0;
        }
    }
}