@use "variables" as *;


//////////////
// home page
/////////////

.content {
    margin-bottom: 75px;
    .guyana {
        display: flex;
        justify-content: space-between;
        margin-bottom: 150px;
        height: auto;
        .guyanaBlurb {
            width: calc((100%*.66) - 30px);
            h4 {
                color: $spruce;
            }
        }
        .guyanaImage {
            width: calc(100%*.34);
            max-width: 100%;
            height: auto;
            display: flex;
            position: relative;
            bottom: 0px;
            left: 0px;
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
                align-self: center;
                box-shadow: -25px 25px $greenishCyan;
            }
        }
    }
 }

.background {
    background-color: $lightBlue;
    width: 100%;
    padding: 50px 0;
    display: flex;
    .imageGallery {
        display: flex;
        justify-content: space-between;
        .beachHouseGallery1, .beachHouseGallery2, .beachHouseGallery3 {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            position: relative;
            width: calc((100%/3) - 20px);
            max-width: 100%;
            margin: 0 auto;
            transition: all 0.8s;
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
            a p {
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 40%;
                text-align: center; 
                font-size: 3rem;
                flex-wrap: wrap;
                display: none;
                font-family: $headingFont;
                color: $grey;
            }
            &:hover {
                transform: scale(1.05);
                & img {
                opacity: 0.3;
                }
                & p {
                    display: inline;
                    opacity: 1;
                }
            }
        }
    }
}

.pageLinks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
        .beachHouses, .community, .blogLink,
        .contact {
            width: calc(100%/2);
            display: flex;
            justify-content: space-between;
            position: relative;
            .fa-solid {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                position: absolute;
                left: 5px;
                top: 50px;
            }
            .linkBlurb {
                width: 85%;
            }
            h5 {
                color: $spruce;
                &:hover {
                    text-decoration: underline;
                }
            }
            p {
                margin: 0;
            }
        }
    }

.schedule {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    .plan {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        .planBlurb {
            width: 45%;
        }
        .planImage {
            position: relative;
            top: -75px;
            left: -125px;
            width: 55%;
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                box-shadow: 25px 25px $greenishCyan;
            }
        }
    }
    .newLocations {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        .newLocationsBlurb {
            text-align: right;
            width: 45%;
        }
        .newLocationsImage {
            width: 55%;
            position: relative;
            bottom: -115px;
            right: -122px;
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                box-shadow: -25px 25px $greenishCyan;
            }
        }
    }
    h4 {
        color: $twilightBlue;
    }
}

.bottomBackground {
    background-image: url(../../assets/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0, 0;
    width: 100%;
    height: 65vh;
    max-width: 100%;
}

.freeTrip {
    text-align: center;
    padding-top: 150px;
    h4 {
        color: $spruce;
        margin: 0;
    }
    button {
        margin: 15px 0px;
    }
}

//////////////
// blog page
/////////////

.blog {
    position: relative;
    top: -325px;
    left: -105px;
    width: calc((100%*0.75)); 
}

.blogPage {
    display: flex; 
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 100%;
    h2 {
        padding: 25px 200px;
        color: $white;
    }
    h5 {
        color: $spruce;
    }
    .blogImage {
        position: relative;
        width: 100%;
        top: -50px;
        left: -20px;
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            box-shadow: 25px 25px $greenishCyan;
        }
    }
    .blogPost {
        border-bottom: 0.5rem solid $greenishCyan;
        border-right: 0.5rem solid $greenishCyan;
        .blogInfo p {
            display: inline;
            font-style: italic;
            color: $twilightBlue;
        }
        #author {
            font-weight: bold;
        }
        .blogBlurb {
            padding-left: 205px;
            padding-right: 50px;
        }
    }
}

.postedComments {
    display: flex;
    flex-direction: column;
    padding-left: 205px;
    #commentHeading {
        font-weight: bold;
    }
    .commentBlock{
        display: flex;
        justify-content: space-between;
        .comment {
            padding: 0 50px;
        }
        .commentData {
            #commentDate, #user {
                display: inline;
            }
            p {
                margin-top: 0;
                color: $twilightBlue;
            }
        }
        .commentImage {
            padding: 5px 15px 0 0;
        }
    }
}

.mission {
    position: relative;
    padding-top: 100px;
    width: calc(100%*0.3);
    img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .missionStatement {
        width: 100%;
        word-wrap: break-word;
        a {
            color: $spruce;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .bigger {
        font-size: 3rem;
        font-weight: bold;
        color: $twilightBlue;
    }
    .recentPostsList {
        padding: 0 20px;
        li a:hover {
            text-decoration: underline;
        }
        li::before {
            content: "\2022";
            color: $greenishCyan;
        }
    }
}


/////////////////
// contact page
////////////////


.contactSection {
    display: flex;
    justify-content: space-between;
    position: relative;
    .contactForm {
        position: relative;
        top: -375px;
        left: -50px;
        h2 {
            color: $white;
            margin: 40px;
        }
    }
    .contactInfo {
        display: flex;
        flex-direction: column;
        padding-top: 150px;
        padding-left: 90px;
        #contactEmail {
            font-weight: bold;
            font-size: 3rem;
            &:hover {
                color: $twilightBlue;
                border-bottom: 2px solid $twilightBlue;
            }
        }
        p:not(:first-child) {
            margin: 5px 0;
        }
    }
}
