//colors
// GREENISH CYAN
$greenishCyan: #50E3C2;
// BLACK
$black: #000000;
// ICE BLUE
$iceBlue: #FAFFFE;
// TWILIGHT BLUE
$twilightBlue: #063974;
// LIGHT LIGHT BLUE
$lightBlue: #D2F9F1;
// SPRUCE
$spruce: #0C5F4C;
// WHITE
$white: #ffffff;
// GREY
$grey: #373737;

// fonts
$headingFont: "Playfair Display SC";
$bodyFont: "Lato";
$baseFont: 1rem;