@use "partials/setup";
@use "partials/fonts";
@use "partials/baseStyles";
@use "partials/variables" as *;
@use "partials/nav";
@use "partials/header";
@use "partials/modal";
@use "partials/sections";
@use "partials/footer";
@use "partials/mediaQueries";
