html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Playfair Display SC";
  src: url("../../fonts/Playfair_Display_SC/PlayfairDisplaySC-Black.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Playfair Display SC";
  src: url("../../fonts/Playfair_Display_SC/PlayfairDisplaySC-BlackItalic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Light.ttf");
  font-family: light;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato";
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}

h1 {
  font-family: "Playfair Display SC";
  font-size: 11.2rem;
  font-style: italic;
}

h2 {
  font-family: "Lato";
  font-size: 8.7rem;
  letter-spacing: 9px;
}

h2, h3, h4 {
  line-height: 58px;
}

h4 {
  font-size: 3.8rem;
  letter-spacing: 3.8px;
}

h5 {
  font-family: "Lato";
  font-size: 3.5rem;
  font-weight: bold;
}

h6 {
  font-family: "Playfair Display SC";
  font-size: 3.46rem;
  font-style: italic;
}

button {
  font-family: "Playfair Display SC";
  font-style: italic;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul:not(.recentPosts) {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

input {
  font-family: "Lato";
  color: #063974;
}
input::-moz-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 0 0 5px 5px;
}
input:-ms-input-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 0 0 5px 5px;
}
input::placeholder {
  font-family: "Lato";
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 0 0 5px 5px;
}

textarea {
  font-family: "Lato";
  color: #063974;
}
textarea::-moz-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 0 0 5px 5px;
}
textarea:-ms-input-placeholder {
  font-family: "Lato";
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 0 0 5px 5px;
}
textarea::placeholder {
  font-family: "Lato";
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 0 0 5px 5px;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #063974;
  padding: 7px 10px;
  border: 2px #063974 solid;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
  line-height: 32px;
  letter-spacing: 1px;
  font-size: 2rem;
}
button:hover {
  background-color: #ffffff;
  color: #063974;
}
button:focus {
  background-color: #ffffff;
  color: #063974;
}

.fa-solid {
  background-color: #50E3C2;
  color: white;
  border: 1px solid #50E3C2;
  font-size: 2.5rem;
}

form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: relative;
  z-index: 5;
}
form .formBorder {
  border-right: 2.5rem solid #50E3C2;
  border-bottom: 2.5rem solid #50E3C2;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -25px;
  right: -25px;
  z-index: -2;
}
form .topForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0;
  position: relative;
}
form .topForm input {
  border: 0;
  border-bottom: 2px solid #50E3C2;
  width: calc(50% - 20px);
  padding: 20px;
}
form .topForm input[type=text] {
  margin-right: 10px;
  position: absolute;
  left: 0px;
}
form .topForm input[type=email] {
  margin-left: 10px;
}
form .topForm input:focus {
  outline: none;
  border: 2px double #50E3C2;
}
form label[for=message] {
  display: inline-block;
  width: 100%;
}
form textarea {
  border: 2px solid #50E3C2;
  padding: 20px;
}
form textarea:focus {
  outline: none;
  border: 2px double #50E3C2;
}
form button {
  margin: 50px 0 0 0;
}

.socialBar {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.socialBar .fa-brands {
  font-size: 3rem;
}
.socialBar a:hover {
  color: #50E3C2;
  transform: scale(1.3);
}

.desktop {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.desktop h6 {
  margin: 0;
  padding: 0;
  color: #50E3C2;
  display: inline-block;
  transition: 0.5s;
}
.desktop h6:hover {
  transform: scale(1.1);
}
.desktop h6 a:hover {
  color: #ffffff;
}
.desktop .desktopMenu {
  display: flex;
  z-index: 5;
}
.desktop .desktopMenu li {
  margin: 0 25px;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.5s;
}
.desktop .desktopMenu li a:hover {
  color: #50E3C2;
}

.mobile {
  display: flex;
  justify-content: flex-end;
  display: none;
}
.mobile .hamburgerMenu .dropdownList {
  text-align: center;
  color: white;
  font-size: 2rem;
  padding: 10px 5px;
  border: 2px solid #acacac;
  background-color: #acacac;
}
.mobile .hamburgerMenu .dropdownList li {
  padding: 2px 0;
}

header {
  display: flex;
  flex-direction: column;
  height: 85vh;
  max-height: 100%;
  z-index: -3;
}

#homePage {
  background-image: url(../../assets/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  z-index: -3;
  margin-bottom: 13.5%;
}
#homePage .headerWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
#homePage .headerWrapper .title {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40%;
  left: 35%;
  margin: 0 auto;
  z-index: 1;
}
#homePage .headerWrapper .title .titleTop {
  padding: 0;
  margin: 0 0 40px;
  color: #0C5F4C;
  font-size: 7.5rem;
  letter-spacing: 0.75rem;
}
#homePage .headerWrapper .title .titleBottom {
  margin: 0;
  color: #063974;
}
#homePage .headerWrapper .sunglasses {
  position: absolute;
  top: 25%;
  left: 0px;
  width: 43%;
}
#homePage .headerWrapper .sunglasses img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

#blogPage {
  background-image: url(../../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0, 0;
  width: 100%;
  max-width: 100%;
  z-index: -3;
}

#contactPage {
  background-image: url(../../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0, 0;
  width: 100%;
  max-width: 100%;
  z-index: -3;
  height: 60vh;
}

.content {
  margin-bottom: 150px;
}
.content .guyana {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.content .guyana .guyanaBlurb {
  width: calc(66% - 30px);
}
.content .guyana .guyanaImage {
  width: 34%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.content .guyana .guyanaImage img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.content .guyana .guyanaImage .borderLines {
  border-left: 2.5rem solid #50E3C2;
  border-bottom: 2.5rem solid #50E3C2;
  width: 95%;
  height: 95%;
  position: absolute;
  bottom: -25px;
  left: -20px;
  z-index: -1;
}

.background {
  background-color: #D2F9F1;
  width: 100%;
  padding: 50px 0;
  display: flex;
}
.background .imageGallery {
  display: flex;
  justify-content: space-between;
}
.background .imageGallery .beachHouseGallery {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  transition: all 0.8s;
}
.background .imageGallery .beachHouseGallery img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.background .imageGallery .beachHouseGallery a p {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
  font-size: 3rem;
  flex-wrap: wrap;
  display: none;
  font-family: "Playfair Display SC";
  color: #373737;
}
.background .imageGallery .beachHouseGallery:hover {
  transform: scale(1.05);
}
.background .imageGallery .beachHouseGallery:hover img {
  opacity: 0.3;
}
.background .imageGallery .beachHouseGallery:hover p {
  display: inline;
  opacity: 1;
}

.pageLinks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0;
}
.pageLinks .beachHouses, .pageLinks .community, .pageLinks .blog,
.pageLinks .contact {
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.pageLinks .beachHouses .fa-solid, .pageLinks .community .fa-solid, .pageLinks .blog .fa-solid,
.pageLinks .contact .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 5px;
  top: 50px;
}
.pageLinks .beachHouses .linkBlurb, .pageLinks .community .linkBlurb, .pageLinks .blog .linkBlurb,
.pageLinks .contact .linkBlurb {
  width: 85%;
}
.pageLinks .beachHouses h5, .pageLinks .community h5, .pageLinks .blog h5,
.pageLinks .contact h5 {
  color: #0C5F4C;
}
.pageLinks .beachHouses p, .pageLinks .community p, .pageLinks .blog p,
.pageLinks .contact p {
  margin: 0;
}

.schedule {
  display: flex;
  justify-content: space-between;
}
.schedule .newLocations {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: relative;
  width: 50%;
  height: 100%;
}
.schedule .newLocations .newLocationsBlurb {
  width: 80%;
  text-align: right;
}
.schedule .newLocations .newLocationsImage {
  width: 100%;
  height: auto;
  position: absolute;
  top: -80px;
  left: 0px;
}
.schedule .newLocations .newLocationsImage img {
  width: 100%;
  height: 100%;
}
.schedule .newLocations .newLocationsImage .borderLines2 {
  border-bottom: 2rem solid #50E3C2;
  border-right: 2rem solid #50E3C2;
  position: absolute;
}
.schedule .plan {
  width: calc(50% - 25px);
}
.schedule .plan .planBlurb {
  width: 80%;
}
.schedule h4 {
  color: #063974;
}

.bottomBackground {
  background-image: url(../../assets/banner-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0, 0;
  width: 100%;
  height: 65vh;
  max-width: 100%;
}

.freeTrip {
  text-align: center;
  padding-top: 150px;
}
.freeTrip h4 {
  color: #0C5F4C;
  margin: 0;
}
.freeTrip button {
  margin: 15px 0px;
}

.contactSection {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.contactSection .contactForm {
  position: relative;
  top: -375px;
  left: -150px;
}
.contactSection .contactForm h2 {
  color: #ffffff;
  margin: 40px;
}
.contactSection .contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactSection .contactInfo #contactEmail {
  font-weight: bold;
  font-size: 3rem;
}
.contactSection .contactInfo #contactEmail:hover {
  color: #063974;
  border-bottom: 2px solid #063974;
}
.contactSection .contactInfo p:not(:first-child) {
  margin: 5px 0;
}

footer {
  background-color: #373737;
  text-align: center;
  padding: 5px;
}
footer p {
  color: #ffffff;
  line-height: 0px;
}/*# sourceMappingURL=styles.css.map */